@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --background: #f7f3f0;
   --foreground: #000000;
}

@media (prefers-color-scheme: dark) {
   :root {
      --background: #f7f3f0;
      --foreground: #000000;
   }
}

html {
   scroll-behavior: smooth;
}

body {
   color: var(--foreground);
   background: var(--background);
   font-family: 'Montserrat', serif;
   font-style: normal;
}

.font-ogg-regular {
   font-family: var(--font-ogg-regular);
}

.font-ogg-light {
   font-family: var(--font-ogg-light);
}